@charset "UTF-8";

/* Tipical Device Breakpoits
----------------------------
Pequenas telas: até 600px - (640px)
Celular: de 600px até 768px - (768px)
Tablet: 768px até 992px - (1024px)
Desktop: 992px até 1280px
Grandes telas: acima de 1280px
*/

@media screen and (min-width: 768px){
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
            display: inline-block;
        }
    
    main {
        width: 768px;
        }
}